__pycache__/
*.py[cod]
*$py.class

venv/
.env/

.idea/
*.iml
*.ipr
*.iws

*.log
logs/

.DS_Store
Thumbs.db

.cache/
*.sqlite3

.ipynb_checkpoints/

.pytest_cache/

.mypy_cache/

htmlcov/
*.cover
.coverage

dist/
build/
*.egg-info/

.dockerignore

poetry.lock

*.c
*.so
